// Kintamieji
$primary-color: #32292f;

// Bendras stilius
body {
  background-color: white;
  font-family: "Inter", sans-serif;
  color: $primary-color;
}

.desktop-break {
  display: inline;
}

h1 {
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  margin-top: 40px;
}

// 1 dalis
// Hero sekcija
.hero {
  padding: 80px 0;
}

// Pilkas fonas kairėje
.bg-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 58%;
  height: 100%;
  background: #f6f4f5;
}

// Flex konteineris tik hero
.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 100px;
  padding-left: 40px;
}

// Hero teksto elementai
.hero-text h1 {
  font-size: 48px;
  margin-left: 10px;
}

.hero-text p {
  font-size: 14px;
  margin-left: 15px;
}

// Mygtukas
.hero-text .btn {
  padding: 12px 24px;
  background: #2c2528;
  color: #fff;
  border-radius: 0;
  font-size: 16px;
  margin-left: 15px;
}

// Hero nuotraukos lygiavimas
.image-block img {
  width: 737px;
  height: 536px;
  position: relative;
}

// Indikatorius, slenkanti juosta
.indicator {
  position: absolute;
  bottom: 40px;
  right: 0;
  padding-right: 20px;
}

// 2 dalis
button {
  background-color: white;
  width: 144px;
  height: 48px;
  border: 1px solid $primary-color;
}

.text h2,
.text p,
.text h1 {
  padding-left: 80px;
}

.button-padding {
  padding-left: 70px;
}

.img-1 {
  max-width: 628px;
  height: 424px;
  margin-top: 40px;
}

// 3 dalis
.img-2 {
  width: 845px;
  height: 569px;
}

.img-3 {
  width: 411px;
  height: 569px;
}

// 4 dalis
.size-18 {
  font-size: 18px;
  margin-top: 20px;
}

// 5 dalis
// // Kontaktų juosta
.footer {
  display: flex;
  justify-content: space-between;
  color: $primary-color;
}

.logo-col .logo {
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

// Navigacijos išdėstymas
.menu-col {
  margin-top: 20px;
}
.menu-col a {
  text-decoration: none;
  color: #32292f;
  font-size: 12px;
  font-weight: bold;
  margin-right: 50px;
}

// Stulpelių išdėstymas
.footer-col {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

// Adreso stulpelis
.policies-col a {
  text-decoration: none;
  color: #32292f;
}

.contact-col p {
  margin: 0;
}
// Nuosavybės teisės
.copyright {
  font-size: 12px;
  margin-top: 15px;
  color: #32292f;
  margin-bottom: 20px;
}

// Mažų ekranų dydžiai

// // Planšetės versija
@media (min-width: 769px) and (max-width: 1224px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
  // Nuimamas  borderis išskleidžiamai nav
  .navbar-toggler {
    border: none;
  }
  // Nuotraukos
  .img-1,
  .img-2,
  .img-3,
  .img-4 {
    width: 327px;
    height: 277px;
    display: block;
  }
  // Hero blokas su pilku fonu po nuotrauka
  .hero {
    padding: 0;
    background: #f6f4f5;
  }

  // Hero konteineris vertikalus
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  // Nuotrauka viršuje per visą plotį
  .image-block {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .image-block img {
    width: 100%;
    height: 100%;
    object-position: center 70%;
    display: block;
  }

  .hero-text {
    order: 2;
    padding: 20px 20px;
    text-align: left;
    margin-top: -120px;
    position: relative;
  }

  .indicator {
    padding-bottom: 245px;
  }

  // Footer sekcija
  .footer {
    flex-direction: column;
    gap: 10px;
    margin: 40px;
  }
  .menu-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .policies-col {
    display: none;
  }
}

// Mobili versija
@media (max-width: 768px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }

  .text-4 {
    margin-bottom: 50px;
  }

  .building {
    margin-left: 70px;
  }
  .text-1 {
    margin-left: 70px;
  }

  // Nuimamas  borderis išskleidžiamai nav
  .navbar-toggler {
    border: none;
  }

  // Nuotraukos
  .img-1,
  .img-2,
  .img-3,
  .img-4 {
    width: 327px;
    height: 277px;
    display: block;
  }

  // Kortelės, kad mobilioje versijoje būtų vienodo dydžio
  .card {
    width: 327px;
    display: block;
    margin: 0 auto;
  }

  // Footer sekcija
  .footer {
    flex-direction: column;
    gap: 10px;
    margin: 40px;
  }
  .menu-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .policies-col {
    display: none;
  }

  // Hero blokas su pilku fonu po nuotrauka
  .hero {
    padding: 0;
    background: #f6f4f5;
  }

  // Hero konteineris vertikalus
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  // Nuotrauka viršuje per visą plotį
  .image-block {
    width: 100%;
    height: 400px;
    overflow: hidden;
  }

  .image-block img {
    width: 100%;
    height: 100%;

    object-position: center 70%;
    display: block;
  }

  .hero-text {
    order: 2;
    padding: 20px 20px;
    text-align: left;
    margin-top: -120px;
    position: relative;
  }

  .hero-text .btn {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 16px;
  }

  .indicator {
    padding-bottom: 300px;
  }

  .copyright {
    margin-left: 40px;
  }

  .row-reverse-mobile {
    display: flex;
    flex-direction: column-reverse;
  }

  .row.align-items-center {
    display: flex;
    flex-wrap: wrap;
  }

  .row.align-items-center .col-md-6:first-child {
    order: 1;
  }

  .row.align-items-center .col-md-6:last-child {
    order: 2;
  }

  .desktop-only {
    display: none;
  }

  // Teksto stilius
  .row.align-items-center {
    flex-direction: row;
    gap: 0;
  }

  .text {
    max-width: none;
  }

  .text-3 {
    padding-left: 20px;
  }

  .text-media {
    margin-left: -40px;
  }

  .button-padding .btn-1 {
    width: 100%;
    margin-left: -40px;
  }

  // Pilkas fonas už nuotraukų vertikaliai
  .half-bg-section {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .half-bg-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: #f6f4f5;
    z-index: -1;
  }

  .half-bg-section .card {
    background: transparent;
    box-shadow: none;
  }
}
